@import url('https://fonts.googleapis.com/css?family=Roboto');
*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}
body{
	font-family: 'Roboto', sans-serif;
}
header{

padding:  20px;

position:  relative;

overflow:  hidden;
}
.container {width:  1000px;margin:  0 auto;}

.logo {width:  20%;float:  left;position:  relative;}
.logo img{}
.logo span{
    text-transform:  uppercase;
    display:  block;
    position:  absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%,-50%);
    color: #737373;
    font-weight:  600;
}
.social {width:  80%;float:  left;position:  relative;}
.social ul {text-align:  right;padding:  10px;margin-right: 5px;}
.social ul li{list-style:  none;display:  inline-block;}
.social ul li a{}
.social img{
}
.cursor {position:  absolute;right:  27%;top: 70%;transform: translate(27%, -70%);}
.cursor img{
}
.line{
    display:  block;
    border: 1px solid #73737340;
    position:  absolute;
    top: 55%;
    width: 39%;
    transform: translateY(-55%);
}
nav{border-top: 1px solid #73737361;}
nav ul{
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 25px 15px 25px 0;
    font-weight:  600;
}
nav ul li a{
    text-decoration:  none;
    color: #737373;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #2ecc71;
}

.banner-section {background-image: url(../images/slider_background.png);position:  relative;background-repeat:  no-repeat;background-size:  cover;min-height: 525px;/* height:  69vh; *//* overflow:  hidden; */}
.banner-section2{
    overflow:  hidden;
    padding-top:  100px;
    text-align:  center;
    font-size:  20px;
    color: #a5a5a5;
    height: 265px;
}
.banner-img {position: absolute;transform: translateY(25%);}

.banner-content {
}
.banner-content p{
    padding-bottom: 30px;
    width:  83%;
}
.banner-content a{
    text-transform: uppercase;
    text-decoration:  none;
    background: #2cc26b;
    color:  white;
    padding:  10px;
    font-size:  16px;
}

.blown-section {background:  #332f30;height:  100px;color:  #f0f0f0;text-transform:  uppercase;position:  relative;}

.content {
}
.content h1{
    padding: 39px;
    font-size:  25px;
    width:  60%;
    float:  left;
}
.content a{/* width:  40%; *//* float:  left; */text-transform: uppercase;text-decoration: none;background: #2cc26b;color: white;padding: 10px;font-size: 16px;transform: translate(50%,85%);position:  absolute;}
footer{
    height:  40px;
    background: #efefefb8;
    position:  relative;
}
.p1 h2{
    font-size: 12px;
    position:  absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
    color:  #a0a0a0;
}
.p2 h2{
    font-size: 12px;
    position:  absolute;
    right: 25%;
    top: 50%;
    transform: translate(25%,-50%);
    color: #a0a0a0;
}
